<div class="logo-container">
    <a href="/">
        <div class="bg"></div>
        <img src="./assets/images/logo/logo_white.png" alt="Juvar Abrera">
    </a>
</div>
<div class="container">
    <div class="footer-bg"></div>
    <div class="paper">
        <nav>
            <ul>
                <li><a href="#/home">About</a></li>
                <li><a href="#/work">Work</a></li>
                <li><a href="https://dev.juvarabrera.com">Dev Blog</a></li>
                <li><a href="#/speaking">Speaking</a></li>
                <li><a href="#/crypto">Crypto</a></li>
                <li><a href="#/contact">Contact</a></li>
            </ul>
        </nav>
        <div id="view"></div>
    </div>
</div>
<div id="is_working">
    <span class="yes">I'm currently working! <a target="_blank" class="btn btn-white" style="margin-left: 12px; margin-top: 0px;" href="https://meet.juvarabrera.com/working">Meet me here</a></span>
    <span class="break">I'm taking a break :)</span>
    <span class="text-right">Worked for <span id="num_worked_today2"></span> today.</span>
</div>
<footer id="contact">
    <p style="text-align: center">Copyright 2012-2022. Designed and developed by yours truly.<br>
        <a href="mailto:me@juvarabrera.com" target="_blank"><i class="mdi mdi-email"></i></a>
        <a href="https://www.juvarabrera.com/linkedin" target="_blank"><i class="mdi mdi-linkedin"></i></a>
        <a href="https://www.juvarabrera.com/github" target="_blank"><i class="mdi mdi-github-circle"></i></a>
        <a href="https://www.juvarabrera.com/facebook" target="_blank"><i class="mdi mdi-facebook"></i></a>
        <a href="https://www.juvarabrera.com/twitter" target="_blank"><i class="mdi mdi-twitter"></i></a>
        <a href="https://www.juvarabrera.com/youtube" target="_blank"><i class="mdi mdi-youtube-play"></i></a>
        <a href="https://www.juvarabrera.com/twitch" target="_blank"><i class="mdi mdi-twitch"></i></a>
        <br>
        <img src="./assets/images/logo/logo_white.png" alt="Juvar Abrera">
    </p>
</footer>
<div id="crypto-modal" class="modal">
    <a class="close"><span class="tag">ESC</span><i class="mdi mdi-close-circle"></i></a>
    <div class="wrapper">
        <img src="./assets/images/logo/logo_white.png" alt="Juvar Abrera" width="48px" style="margin-bottom: 24px;">
        <div class="d-flex justify-content-between align-items-start">
            <div>
                <h1></h1>
                <h2></h2>
                <h3></h3>
            </div>
            <div class="tags"></div>
        </div>
        <div class="d-flex justify-content-between align-items-start t-flex-column" style="margin-bottom: 24px;">
            <div>
                <div class="info"></div>
            </div>
            <div class="website">
                <a href="#" target="_blank" class="btn">View on TradingView</a>
            </div>
        </div>
    </div>
    <div class="photos">
        <img src="" width="100%">
    </div>
</div>
<div id="portfolio-modal" class="modal" data-portfolio="">
    <a class="close"><span class="tag">ESC</span><i class="mdi mdi-close-circle"></i></a>
    <a class="next"><i class="mdi mdi-chevron-right"></i></a>
    <a class="prev"><i class="mdi mdi-chevron-left"></i></a>
    <div class="progress-container"><div class="progress"></div></div>
    <div class="wrapper">
        <img src="./assets/images/logo/logo_white.png" alt="Juvar Abrera" width="48px" style="margin-bottom: 24px;">
        <div class="d-flex justify-content-between align-items-start">
            <div>
                <h1></h1>
                <h2></h2>
                <h3></h3>
            </div>
            <div>
                <img src="" class="company" height="64px">
            </div>
        </div>
        <div class="d-flex justify-content-between align-items-start" style="margin-bottom: 24px;">
            <div>
                <div class="info"></div>
                <div class="tags"></div>
            </div>
            <div class="website">
                <a href="#" target="_blank" class="btn">Visit Website</a>
            </div>
        </div>
        <div class="photos">
        </div>
    </div>
</div>
<script>
    function viewMoreOrLess(event) {
        let max_portfolio_show_per_load = 5;
        let portfolio_items = event.target.previousElementSibling.querySelectorAll(".portfolio-item.d-none");
        if(portfolio_items.length == 0) {
            event.target.innerText = "View More";
            event.target.previousElementSibling.querySelectorAll(".portfolio-item").forEach(function(el, i) {
                if(i > max_portfolio_show_per_load) {
                    el.classList.add("d-none");
                }
            })
        } else {
            if(portfolio_items.length - max_portfolio_show_per_load <= 0) {
                // event.target.innerText = "View Less";
                event.target.remove()
            }
            portfolio_items.forEach(function(el, i) {
                if(i < max_portfolio_show_per_load) {
                    el.classList.remove("d-none");
                }
            });
        }
    }
    
    window.addEventListener('scroll', function() {
        document.querySelectorAll("[data-animate-number-to]").forEach(function(element) {
            let position = element.getBoundingClientRect();
            if(element.hasAttribute("data-animate")) return;
            if(position.top >= 0 && position.bottom <= window.innerHeight) {
                if(element.getAttribute("data-animate-number-to") != "") {
                    element.setAttribute("data-animate", "");
                    let upto = parseInt(element.getAttribute("data-animate-number-to"),10);
                    $({someValue: 0}).animate({someValue: upto}, {
                        duration: 5000,
                        easing:'swing',
                        step: function() {
                            element.innerText = commaSeparateNumber(Math.round(this.someValue));
                        }
                    });
                }
            }
        })
    });
    
    function commaSeparateNumber(val){
        while (/(\d+)(\d{3})/.test(val.toString())){
            val = val.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
        }
        return val;
    }
    
    (async function() {
        let clockify = new Clockify();
        await clockify.start();
        await clockify.checkForTimeEntries();
    })();
</script>
