<div id="view">
    <section class="portfolio bg" id="portfolio">
        <div class="top-shadow"></div>
        <div class="wrapper">
            <h2 class="text-white">Work<div></div></h2>
            <p>After years of creating and designing web app solutions, the following are the projects I have worked on.</p>
            <div class="portfolio-container">
                <div class="portfolio-item" data-template>
                    <div class="portfolio-ss">
                    
                    </div>
                    <div class="portfolio-desc" >
                        <div class="portfolio-header">
                            <h3></h3>
                            <img src="" height="30px" alt="">
                        </div>
                        <h5></h5><span></span>
                        <p class="clamp"></p>
                        <div class="portfolio-tags-button">
                            <div class="tags"></div>
                            <a data-portfolio class="btn">View Project</a>
                        </div>
                    </div>
                </div>
                <div class="portfolio-item loading">
                    <div class="portfolio-ss">
                    
                    </div>
                    <div class="portfolio-desc">
                        <div class="portfolio-header">
                            <h3></h3>
                            <div class="portfolio-logo"></div>
                        </div>
                        <h5></h5>
                        <p></p>
                        <p></p>
                        <p></p>
                        <span></span><span></span><span></span><span></span>
                    </div>
                </div>
                <div class="portfolio-item loading">
                    <div class="portfolio-ss">
                    
                    </div>
                    <div class="portfolio-desc">
                        <div class="portfolio-header">
                            <h3></h3>
                            <div class="portfolio-logo"></div>
                        </div>
                        <h5></h5>
                        <p></p>
                        <p></p>
                        <p></p>
                        <span></span><span></span><span></span><span></span>
                    </div>
                </div>
                <div class="portfolio-item loading">
                    <div class="portfolio-ss">
                    
                    </div>
                    <div class="portfolio-desc">
                        <div class="portfolio-header">
                            <h3></h3>
                            <div class="portfolio-logo"></div>
                        </div>
                        <h5></h5>
                        <p></p>
                        <p></p>
                        <p></p>
                        <span></span><span></span><span></span><span></span>
                    </div>
                </div>
            </div>
            <a onclick="viewMoreOrLess(event)" class="btn" style="display: block;">View More</a>
            <div class="d-flex justify-content-around" style="margin-top: 48px;">
                <div class="big-number">
                    <h1 id="num_years" data-animate-number-to="6">0</h1>
                    <span>Years of Experience</span>
                </div>
                <div class="big-number">
                    <h1 id="num_projects_ongoing" data-animate-number-to="">0</h1>
                    <span>On-going Projects</span>
                </div>
                <div class="big-number">
                    <h1 id="num_projects" data-animate-number-to="">0</h1>
                    <span>Projects</span>
                </div>
            </div>
            <div class="d-flex justify-content-around" style="margin-top: 48px;">
                <div class="big-number">
                    <h1 id="num_worked_month" data-animate-number-to="">0</h1>
                    <span>hours worked this month</span>
                </div>
                <div class="big-number">
                    <h1 id="num_worked_year" data-animate-number-to="">0</h1>
                    <span>hours worked this year</span>
                </div>
            </div>
            <div class="d-flex justify-content-around" style="margin-top: 48px;">
                <div class="big-number">
                    <h1 id="num_worked_today">...</h1>
                    <span>worked today</span>
                </div>
            </div>
        </div>
    </section>
    
    <section class="wordcloud" style="padding-bottom: 48px;">
        <div id="wordcloud"></div>
    </section>
    <section class="contribution">
        <div class="wrapper">
            <h2>Code Contribution</h2>
            <p>Activities include issues, merge requests, pushes, and comments from different sources: <a href="https://www.juvarabrera.com/github" target="_blank">github.com</a>, <a href="https://www.juvarabrera.com/gitlab" target="_blank">gitlab.com</a>, <a href="https://gitlab.chits.ph/j.abrera" target="_blank">gitlab.chits.ph (internal)</a>. Updates once a day.</p>
        </div>
        <div class="contribution-calendar">
            <div class="contribution-week-label">
                <div></div>
                <div>M</div>
                <div></div>
                <div>W</div>
                <div></div>
                <div>F</div>
                <div></div>
            </div>
        </div>
        <div class="wrapper">
            <div class="contribution-day-label level-0" title="No contributions"></div>
            <div class="contribution-day-label level-1" title="1-4 contributions"></div>
            <div class="contribution-day-label level-2" title="5-9 contributions"></div>
            <div class="contribution-day-label level-3" title="10-14 contributions"></div>
            <div class="contribution-day-label level-4" title="15-19 contributions"></div>
            <div class="contribution-day-label level-5" title="20-24 contributions"></div>
            <div class="contribution-day-label level-6" title="25+ contributions"></div>
        </div>
    </section>
    <section>
        <div class="wrapper">
            <h2>Mini Projects</h2>
            <p class="mb-3">Here are some of my mini projects I have created. It's not that much but I hope you still like it.</p>
            <div class="mini-project-container">
                <a target="_blank" class="card portfolio-item" data-template>
                    <div class="card-body">
                        <h3></h3>
                        <div class="portfolio-tags-button align-items-start">
                            <p></p>
                        </div>
                    </div>
                </a>
                <div class="portfolio-item loading">
                    <div class="portfolio-desc">
                        <div class="portfolio-header">
                            <h3></h3>
                        </div>
                        <p></p>
                        <p></p>
                    </div>
                </div>
                <div class="portfolio-item loading">
                    <div class="portfolio-desc">
                        <div class="portfolio-header">
                            <h3></h3>
                        </div>
                        <p></p>
                        <p></p>
                    </div>
                </div>
                <div class="portfolio-item loading">
                    <div class="portfolio-desc">
                        <div class="portfolio-header">
                            <h3></h3>
                        </div>
                        <p></p>
                        <p></p>
                    </div>
                </div>
            </div>
            <a onclick="viewMoreOrLess(event)" class="btn" style="display: block;">View More</a>
            <a href="https://github.com/juvarabrera" target="_blank" class="btn mr-2"><i class="mdi mdi-github-circle mr-2"></i>Github</a>
            <a href="https://gitlab.com/jabrera" target="_blank" class="btn mr-2"><svg style="width:24px;height:24px;vertical-align:middle;margin: 2px 0px;" class="mr-2" viewBox="0 0 24 24">
                <path fill="currentColor" d="M21.94 13.11L20.89 9.89C20.89 9.86 20.88 9.83 20.87 9.8L18.76 3.32C18.65 3 18.33 2.75 17.96 2.75C17.6 2.75 17.28 3 17.17 3.33L15.17 9.5H8.84L6.83 3.33C6.72 3 6.4 2.75 6.04 2.75H6.04C5.67 2.75 5.35 3 5.24 3.33L3.13 9.82C3.13 9.82 3.13 9.83 3.13 9.83L2.06 13.11C1.9 13.61 2.07 14.15 2.5 14.45L11.72 21.16C11.89 21.28 12.11 21.28 12.28 21.15L21.5 14.45C21.93 14.15 22.1 13.61 21.94 13.11M8.15 10.45L10.72 18.36L4.55 10.45M13.28 18.37L15.75 10.78L15.85 10.45H19.46L13.87 17.61M17.97 3.94L19.78 9.5H16.16M14.86 10.45L13.07 15.96L12 19.24L9.14 10.45M6.03 3.94L7.84 9.5H4.23M3.05 13.69C2.96 13.62 2.92 13.5 2.96 13.4L3.75 10.97L9.57 18.42M20.95 13.69L14.44 18.42L14.46 18.39L20.25 10.97L21.04 13.4C21.08 13.5 21.04 13.62 20.95 13.69" />
            </svg> Gitlab</a>
        </div>
    </section>
    <script>
        let portfolio = new Portfolio();
        portfolio.loadData();
        let miniProject = new MiniProject();
        miniProject.loadData();
        let git = new Git();
        git.loadData();
        (async function() {
            let clockify = new Clockify();
            await clockify.start();
            await clockify.loadReport();
        })();

        WordCloud(document.getElementById('wordcloud'), {
            "list": [
                ["Python Django", 100],
                ["Java Spring", 80],
                ["MySQL", 100],
                ["Git", 90],
                ["HTML", 100],
                ["CSS3", 100],
                ["SaSS", 80],
                ["Javascript", 100],
                ["Angular", 30],
                ["React", 30],
                ["jQuery", 80],
                ["Bootstrap", 70],
                ["PHP", 30],
                ["ASP.NET", 20],
                ["Google Cloud Platform", 30],
                ["Amazon Web Service", 30],
                ["Actions on Google", 50],
                ["Dialogflow", 50],
                ["Scrum", 80],
                ["Progressive Web Apps", 100],
                ["Firebase", 70],
                ["UX Design", 80],
                ["Adobe Photoshop", 60],
                ["Adobe Illustrator", 70],
                ["Docker", 40],
                ["LXD", 30],
                ["SSH", 30],
                ["Adobe Xd", 100],
                ["Linux Management and Security", 50]
            ],
            "minSize": "16px",
            "fontFamily": "grandesign",
            "color": function(word, weight) {
                var maxWeight = 100;
                weight = (50 + (weight / 2)) / 100;
                return `rgba(0, 92, 185, ${weight})`
            },
            "rotateRatio": 0,
            "shrinkToFit": true,
            "weightFactor": function (size) {
                size = size / 100
                size *= 48
                return size
            },
        });
    </script>
</div>