<div class="wrapper">
				<div class="columns">
					<div class="col-12">
						<div class="wrapper">
							<h2>Wallets</h2>
							<p>Transact with me using these addresses on different network.</p>
							<ul class="column">
								<li>
									Bitcoin
									<input type="text" value="bc1qm4yyyhv0cjyh2aakehrw3ajj6x8nud50ptfz9r" readonly>
								</li>
								<li>
									Ethereum
									<input type="text" value="juvarabrera.eth" readonly>
									<input type="text" value="0xB171Aa1FD2Bcc4b64477695579c2EB0F0439A324" readonly>
								</li>
								<li>
									Binance Smart Chain
									<input type="text" value="0xB171Aa1FD2Bcc4b64477695579c2EB0F0439A324" readonly>
								</li>
								<li>
									Stacks
									<input type="text" value="juvarabrera.btc" readonly>
									<input type="text" value="SP1YH1TQGV25SAQRPM8ZC4FGX0EWCM6EF6ACPQG8K" readonly>
								</li>
								<li>
									Polygon
									<input type="text" value="0xFA96A915820123Bd7303BA4c86402A0185936695" readonly>
								</li>
								<li>
									Cardano
									<input type="text" value="addr1q8zlcnezxdzn6yjqaptr36mp2qg98zawfgkv2ywy0dy0uqrjhgp7fl5phnl0jud7slq9luxe34zh3ms2057ez5yvpxtskl7rd6" readonly>
								</li>
								<li>
									Terra
									<input type="text" value="terra1dlk2ynsya9dasprupnjfk38rl55pcenywcnhht" readonly>
								</li>
							</ul>
							<style>
								.column {
									list-style-type: none;
									margin: 0;
									font-weight: bold;
									padding: 0;
									column-count: 3;
									column-gap: 24px;
								}
								.column li {
									margin-bottom: 16px;
								}
							</style>
						</div>
					</div>
				</div>
			</div>