<div id="view">
    <section class="companies">
        <img src="./assets/images/company_logos/upmanila.png" height="60px" alt="University of the Philippines Manila" title="University of the Philippines Manila">
        <img src="./assets/images/company_logos/nthc.png" height="60px" alt="National Telehealth Center - National Institutes of Health" title="National Telehealth Center - National Institutes of Health">
        <img src="./assets/images/company_logos/pivotalpeak.png" height="60px" alt="Pivotal Peak Digital Health Solutions Inc." title="Pivotal Peak Digital Health Solutions Inc.">
        <img src="./assets/images/company_logos/yakaph.png" height="70px" alt="Yakap Health Inc." title="Yakap Health Inc.">
        <h5 style="color: #333;margin-top: 64px;">I HAVE WORKED WITH</h5>
        <img src="./assets/images/company_logos/gdgph.png" height="40px" alt="Google Developer Group Philippines" title="Google Developer Group Philippines">
        <img src="./assets/images/company_logos/upcm.png" height="40px" alt="College of Medicine UP Manila" title="College of Medicine UP Manila">
        <img src="./assets/images/company_logos/nsrc.png" height="40px" alt="Newborn Screening Referal Center" title="Newborn Screening Referal Center">
        <img src="./assets/images/company_logos/who.png" height="40px" alt="World Health Organization" title="World Health Organization">
        <img src="./assets/images/company_logos/ia.jpg" height="40px" alt="Institute of Aging" title="Institute of Aging">
        <img src="./assets/images/company_logos/pidsp.png" height="60px" alt="Pediatric Infectious Disease Society of the Philippines, Inc." title="Pediatric Infectious Disease Society of the Philippines, Inc.">
        <img src="./assets/images/company_logos/plas.png" height="40px" alt="Philippine Lipid and Atherosclerosis Society" title="Philippine Lipid and Atherosclerosis Society">
    </section>
</div>