<div id="view">
    <header id="about">
        <img src="./assets/images/me2.jpg" alt="">
        <div>
            <!-- <p>Hi there! I am</p> -->
             <h1>Juvar Abrera</h1>
            <h3>> <span id="typewriter"></span><span class="blink"></span></h3>
            <p>I am an agile full-stack web developer working with different projects in National Telehealth Center, University of the Philippines Manila. I'm also the Chief Technology Officer of Pivotal Peak Digital Health Solutions Inc., a pioneer spin-off of U.P. Manila, and Yakap Health Inc., a digital baby book to plan for and learn more about pregnancy journey. </p>
            <!-- <a href="./files/2022 Juvar Abrera Resume.pdf" target="_blank" class="btn">Full Resume</a> -->
            <hr>
            <a class="social" title="Email" href="mailto:me@juvarabrera.com" target="_blank"><i class="mdi mdi-email"></i></a>
            <a class="social" title="LinkedIn" href="https://www.juvarabrera.com/linkedin" target="_blank"><i class="mdi mdi-linkedin"></i></a>
            <a class="social" title="Github" href="https://www.juvarabrera.com/github" target="_blank"><i class="mdi mdi-github-circle"></i></a>
            <a class="social" title="Facebook" href="https://www.juvarabrera.com/facebook" target="_blank"><i class="mdi mdi-facebook"></i></a>
            <a class="social" title="Twitter" href="https://www.juvarabrera.com/twitter" target="_blank"><i class="mdi mdi-twitter"></i></a>
            <a class="social" title="YouTube" href="https://www.juvarabrera.com/youtube" target="_blank"><i class="mdi mdi-youtube-play"></i></a>
            <a class="social" title="Twitch" href="https://www.juvarabrera.com/twitch" target="_blank"><i class="mdi mdi-twitch"></i></a>
        </div>
    </header>
    <section class="companies">
        <img src="./assets/images/company_logos/upmanila.png" height="60px" alt="University of the Philippines Manila" title="University of the Philippines Manila">
        <img src="./assets/images/company_logos/nthc.png" height="60px" alt="National Telehealth Center - National Institutes of Health" title="National Telehealth Center - National Institutes of Health">
        <img src="./assets/images/company_logos/pivotalpeak.png" height="60px" alt="Pivotal Peak Digital Health Solutions Inc." title="Pivotal Peak Digital Health Solutions Inc.">
        <img src="./assets/images/company_logos/yakaph.png" height="70px" alt="Yakap Health Inc." title="Yakap Health Inc.">
        <h5 style="margin-top: 64px;">I HAVE WORKED WITH</h5>
        <img src="./assets/images/company_logos/gdgph.png" height="40px" alt="Google Developer Group Philippines" title="Google Developer Group Philippines">
        <img src="./assets/images/company_logos/upcm.png" height="40px" alt="College of Medicine UP Manila" title="College of Medicine UP Manila">
        <img src="./assets/images/company_logos/nsrc.png" height="40px" alt="Newborn Screening Referal Center" title="Newborn Screening Referal Center">
        <img src="./assets/images/company_logos/who.png" height="40px" alt="World Health Organization" title="World Health Organization">
        <img src="./assets/images/company_logos/ia.jpg" height="40px" alt="Institute of Aging" title="Institute of Aging">
        <img src="./assets/images/company_logos/pidsp.png" height="60px" alt="Pediatric Infectious Disease Society of the Philippines, Inc." title="Pediatric Infectious Disease Society of the Philippines, Inc.">
        <img src="./assets/images/company_logos/plas.png" height="40px" alt="Philippine Lipid and Atherosclerosis Society" title="Philippine Lipid and Atherosclerosis Society">
    </section>
    <script>
        new TypeWriter(document.getElementById("typewriter"), {
            "data": [
                "I>>> am a|>>> Full-Stack Web Developer.",
                "I>>> create and design web appliations.",
                "I lov>>>eeeeee <<to design>> websites.",
                'I>>> do technical analysis<< on Bitcoin'
                ]
        });
    </script>
</div>