<div id="view">
    <section class="crypto bg" id="crypto">
        <div class="top-shadow"></div>
        <div class="wrapper">
            <h2 class="text-white">Crypto Technical Analysis<div></div></h2>
            <p>I have been investing on crypto since 2017 bull market. I have doing technical analysis of different coins but mostly Bitcoin on my TradingView profile. Here are my recent analysis</p>
            <div class="crypto-container">
                <div class="portfolio-item" data-template>
                    <div class="portfolio-ss">
                    
                    </div>
                    <div class="portfolio-desc">
                        <div class="portfolio-header">
                            <h3><span class="h3"></span><span class="tags"></span></h3>
                        </div>
                        <h5></h5>
                        <span class="date"></span>
                        <p class="clamp"></p>
                        <div style="text-align: right;">
                            <a target="_blank" class="btn">View Chart</a>
                        </div>
                    </div>
                </div>
                <div class="portfolio-item loading">
                    <div class="portfolio-ss">
                    
                    </div>
                    <div class="portfolio-desc">
                        <div class="portfolio-header">
                            <h3></h3>
                            <div class="portfolio-logo"></div>
                        </div>
                        <h5></h5>
                        <p></p>
                        <p></p>
                        <p></p>
                        <span></span><span></span><span></span><span></span>
                    </div>
                </div>
                <div class="portfolio-item loading">
                    <div class="portfolio-ss">
                    
                    </div>
                    <div class="portfolio-desc">
                        <div class="portfolio-header">
                            <h3></h3>
                            <div class="portfolio-logo"></div>
                        </div>
                        <h5></h5>
                        <p></p>
                        <p></p>
                        <p></p>
                        <span></span><span></span><span></span><span></span>
                    </div>
                </div>
                <div class="portfolio-item loading">
                    <div class="portfolio-ss">
                    
                    </div>
                    <div class="portfolio-desc">
                        <div class="portfolio-header">
                            <h3></h3>
                            <div class="portfolio-logo"></div>
                        </div>
                        <h5></h5>
                        <p></p>
                        <p></p>
                        <p></p>
                        <span></span><span></span><span></span><span></span>
                    </div>
                </div>
            </div>
            <a href="https://www.tradingview.com/u/Juvssss/" target="_blank" class="btn" style="display: block">View All on Trading View</a>
        </div>
        <div class="wrapper">
            <h2>Tools</h2>
            <a href="#/crypto/futures" class="btn">Futures Trading Calculator</a>
        </div>
    </section>
    <script>
        let tradingview = new TradingView();
        tradingview.loadData();
    </script>
</div>